<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <p>제목 : <%= data.title %></p>
    <p>작성자 : <%= data.author %></p>
    <!-- <p>내용</p> -->
    <textarea style="width: 90%; margin: 10px;"><%= data.content %></textarea>
    <div style="justify-content: space-between;"></div>
    <a class="btn btn-primary" href="/update/<%= data.bbs_id %>">수정</a>
    <a class="btn btn-primary" href="/update/<%= data.bbs_id %>">삭제</a>
</body>